<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayerActivity"
                  android:label="Playing"
                  android:parentActivityName=".MainActivity"/>
        <activity
                  android:name=".ZoukloveActivity"
                  android:label="@string/category_zouklove" />
        <activity
                  android:name=".AfrobeatsActivity"
                  android:label="@string/category_afrobeats" />
        <activity
                  android:name=".DancehallActivity"
                  android:label="@string/category_dancehall" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>